.top-image
  .top-image__1
  .top-image__2
  %p.top-title JAPAN / TOKYO
  %p.top-sub-title - photograph -
  %p.top-bottom-message-1 2020
  %p.top-bottom-message-2 photograph message
  %p.top-bottom-message-3 in tokyo